@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: none;
  }
  
  body {
    min-height: 100lvh;
    background-color: #0C0F11;
  }
  
  .custom-cursor {
    --cursor-size: 30px;
    position: fixed;
    z-index: 10;
    height: var(--cursor-size);
    width: var(--cursor-size);
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
    transform-origin: center;
    mix-blend-mode: difference;
  }


  .test-animation {
    width: 100vw-100px;
    height: auto;
  }


  .menu-link {
    position: relative; /* Permet de positionner l'élément ::after par rapport à celui-ci */
}

.menu-link::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Positionne le trait juste en dessous du texte */
    left: 0;
    width: 0;
    height: 2px; /* Hauteur du trait */
    background-color: white;
    transition: width 0.3s; /* Animation de la largeur */
}

.menu-link:hover::after {
    width: 100%; /* Lorsque survolé, le trait s'étend de gauche à droite */
}


.footer-link {
  position: relative;
}

.footer-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}

.footer-link:hover::after {
  width: 100%;
}